#nav {
    background-color: green;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: ;
}

a {
    margin-top: .75rem;
    font-weight: bold;
    text-decoration: none;
    color:white;

}

.jumbotron {
    text-align: center;
    background-color: black;
    color:white;
    height: 92.7vh;
}